{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex align-items-center justify-content-center">
<h1 class="text-center my-5 ">{{events[0].eventType}} Events in Vienna</h1>

</div class="container-fluid card mb-5 mt-5 py-4 px-4 " style="max-width: 100%;">
    <div class="row gap-5 justify-content-center">
        {% for event in events %}
        <div class="card col-3 mb-5 mt-5 py-4 px-4" style="width: 22rem;">
                    <div class="card-title text-center filter_text">{{ event.name }}</div>
                    <img src="{{asset('assets/pictures/'~ event.picture)}}" class="card-img-top d-xl-block d-lg-block d-md-block d-sm-none">
                    <p class="card-text text-center mt-3">{{event.date|date('F j, Y, g:i a')}}</p>
                    <p class="card-text text-center">{{event.city}}, {{event.streetName}} {{event.houseNumber}}</p>
                    <p class="card-text text-center">{{event.zipCode}}</p>
                    <p class="card-text text-center">{{event.phoneNumber}}</p>
                    <p class="card-text text-center">{{event.description}}</p>
                   
                    <div class="d-flex justify-content-around p-3 border-0">
                        <a href="/details/{{ event.id }}"><button class="btn btn-outline-warning details">Details</button></a>
                    </div>
            </div> 
        {% endfor %}

{% endblock %}